<footer id="footer-var2">
    <div id="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="foo-block">
                        <h5 class="widgettitle">Haqqımızda</h5>
                        <div class="textwidget">
                            <div class="textwidget">
                                <p>Maecenas lorem mi, interdum id commodo ac, tincidunt vitae magna. In hac habitasse platea dictumst. Pellentesque quam justo, aliquam non accumsan a, aliquam id dolor.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="foo-block">
                        <h5 class="widgettitle">Əlaqə</h5>
                        <div class="textwidget">
                            <div class="textwidget">
                                <p>40 Park Ave, Brooklyn, New York,<br> NY 10000, US</p>
                                <p>+1 800 111 2222<br> contact@example.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="foo-block">
                        <h5 class="widgettitle">Linklər</h5>
                        <div class="textwidget custom-html-widget">
                            <ul>
                                <li> <a href="index.html">Əsas Səhifə</a></li>
                                <li><a href="about-us.html">Haqqımızda</a></li>
                                <li><a href="services.html">Xidmətlər</a></li>
                                <li><a href="blog-main.html">Blog</a></li>
                                <li><a href="team.html">Team</a></li>
                                <li><a href="news-main.html">Xəbərlər</a></li>
                                <li><a href="contact.html">Əlaqə</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="footer-social alignc">
                <li><a class="social-facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a class="social-twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a class="social-linkedin" href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            </ul>
            <div class="foo-copyright alignc">Copyright &copy; 2019 Lawyers. Designed by MatchThemes</div>
        </div>
    </div>
</footer>