<footer id="footer-var2">
    <div id="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="foo-block">
                        <h5 class="widgettitle">Haqqımızda</h5>
                        <div class="textwidget">
                            <div class="textwidget">
                                <p>{{ about.description|safe }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="foo-block">
                        <h5 class="widgettitle">Əlaqə</h5>
                        <div class="textwidget">
                            <div class="textwidget">
                                <p>{{ contact.address }}</p>
                                <p>{{ contact.number }}<br> {{ contact.email }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="foo-block">
                        <h5 class="widgettitle">Linklər</h5>
                        <div class="textwidget custom-html-widget">
                            <ul>
                                <li> <a href="{% url 'kanatis:index' %}">Əsas Səhifə</a></li>
                                <li><a href="{% url 'kanatis:about' %}">Haqqımızda</a></li>
                                <li><a href="{% url 'kanatis:services' %}">Xidmətlər</a></li>
                                <li><a href="{% url 'kanatis:teams' %}">Team</a></li>
                                <li><a href="{% url 'kanatis:blog' %}">Xəbərlər</a></li>
                                <li><a href="{% url 'kanatis:contact' %}">Əlaqə</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="footer-social alignc">
                {% for social in contact.social_networks.all %}
                <li><a class="social-linkedin" href="{{ social.url }}" target="_blank"><i class="{{ social.icon }}"></i></a></li>
                {% endfor %}
            </ul>
            <div class="foo-copyright alignc">Copyright &copy; 2020 Kanatis. Designed by Pragmatech</div>
        </div>
    </div>
</footer>