{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}


{% url 'kanatis:index' as index_path %}
{% url 'kanatis:about' as about_path %}
{% url 'kanatis:services' as services_path %}
{% url 'kanatis:blog' as posts_path %}
{% url 'kanatis:teams' as team_path %}
{% url 'kanatis:contact' as contact_path %}

<div class="mobile-menu-holder">
    <div class="modal-menu-container">
        <div class="exit-mobile"><span class="icon-bar1"></span> <span class="icon-bar2"></span></div>
        <ul class="menu-mobile">
            <li class="menu-item {% if request.path == index_path %}  current-menu-item {% endif %}">
                <a href="{% url 'kanatis:index' %}">{% trans 'Home' %}</a>
            </li>
            <li class="menu-item {% if request.path == about_path %}  current-menu-item {% endif %}">
                <a href="{% url 'kanatis:about' %}">{% trans 'About' %}</a>
            </li>
            <li class="menu-item menu-item-has-children {% if request.path == services_path %}  current-menu-item {% endif %}">
                <a href="{% url 'kanatis:services' %}">{% trans 'Services' %}</a>
                <ul class="sub-menu">
                    {% for service in allservices %}
                        <li class="menu-item menu-item-has-children {% if request.path == services_path %}  current-menu-item {% endif %}">
                            <a href="{% url 'kanatis:services-type' service.slug %}">{{ service.name }}</a>
                            <ul class="sub-menu">
                                {% for subservice in service.subservice.all %}
                                    {{ subservice }}
                                    <li class="menu-item"><a
                                            href="{% url 'kanatis:service-detail' service.slug subservice.slug %}">Hüquq</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}


                </ul>
            <li class="menu-item {% if request.path == posts_path %}  current-menu-item {% endif %}">
                <a href="{% url 'kanatis:blog' %}">{% trans 'Blog' %}</a>
            </li>
            <li class="menu-item {% if request.path == team_path %}  current-menu-item {% endif %}">
                <a href="{% url 'kanatis:teams' %}">{% trans 'Team' %}</a>
            </li>

            <li class="menu-item {% if request.path == contact_path %}  current-menu-item {% endif %}">
                <a href="{% url 'kanatis:contact' %}">{% trans 'Contact' %}</a>
            </li>
        </ul>
    </div>
    <div class="menu-contact">
        <ul>
            <li><i class="fa fa-map-marker"></i><span>{{ contact.address }}</span></li>
            <li><i class="fa fa-mobile"></i><span>{{ contact.number }}</span></li>
            <li><i class="fas fa-phone"></i><span>{{ contact.office_phone }}</span></li>
            <li><i class="fa fa-envelope"></i><span>{{ contact.email }}</span></li>
        </ul>
        <ul class="social-media">
            {% for social in contact.social_networks.all %}
            <li><a class="social-facebook" href="{{ social.url }}" target="_blank"><i class="{{ social.icon }}"></i></a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<!-- /MOBILE MENU HOLDER -->


<!-- HEADER -->
<header id="header-bar" class="header-2">
    <div class="container">
        <div class="top-info">
            <div class="header-contact">
                <div class="header-info"><span class="info-circle"><i
                        class="fa fa-phone"></i></span> {{ contact.number }}</div>
                <div class="header-info mr-3"><span class="info-circle"><i
                    class="fa fa-phone"></i></span> {{ contact.office_phone }}</div>
                <div class="header-info"><span class="info-circle"><i
                        class="fa fa-envelope"></i></span> {{ contact.email }}</div>

            </div>
            <ul class="social-media">
                {% for social in contact.social_networks.all %}
                <li><a class="social-facebook" href="{{ social.url }}" target="_blank"><i class="{{ social.icon }}"></i></a></li>
                {% endfor %}
            </ul>
        </div>


        <div class="header-wrap">
            <div class="logo logo-2"><a href="{% url 'kanatis:index' %}"><img class="img-fluid"
                                                                            src="{% static 'assets/images/kts-01.svg' %}"
                                                                            alt="Lawyers"></a></div>
            <div class="nav-holder nav-holder-2">
                <ul class="menu-nav  menu-nav-2">
                    <li class="menu-item {% if request.path == index_path %}  current-menu-item {% endif %}">
                        <a href="{% url 'kanatis:index' %}">{% trans 'Home' %}</a>
                    </li>

                    <li class="menu-item menu-item-has-children {% if request.path == about_path %}  current-menu-item {% endif %}">
                        <a href="{% url 'kanatis:about' %}">{% trans 'About' %}</a>
                        <ul class="sub-menu">
                            {% for subabout in about.subabouts.all %}
                                <li class="menu-item menu-item-has-children">
                                    <a href="{% url 'kanatis:subabout' subabout.slug %}">{{ subabout.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="menu-item menu-item-has-children {% if request.path == services_path %}  current-menu-item {% endif %}">
                        <a href="{% url 'kanatis:services' %}">{% trans 'Services' %}</a>
                        <ul class="sub-menu">
                            {% for service in allservices %}
                                <li class="menu-item menu-item-has-children">
                                    <a href="{% url 'kanatis:services-type' service.slug %}">{{ service.name }}</a>
                                    <ul class="sub-menu">
                                        {% for subservice in service.subservice.all %}
                                            <li class="menu-item"><a
                                                    href="{% url 'kanatis:service-detail' service.slug subservice.slug %}">{{ subservice.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}


                        </ul>
                    </li>
                    <li class="menu-item {% if request.path == posts_path %}  current-menu-item {% endif %}">
                        <a href="{% url 'kanatis:blog' %}">{% trans 'Blog' %}</a>
                    </li>
                    <li class="menu-item {% if request.path == team_path %}  current-menu-item {% endif %}">
                        <a href="{% url 'kanatis:teams' %}">{% trans 'Team' %}</a>
                    </li>

                    <li class="menu-item {% if request.path == contact_path %}  current-menu-item {% endif %}">
                        <a href="{% url 'kanatis:contact' %}">{% trans 'Contact' %}</a>
                    </li>
                </ul>
            </div>

            <div class="lang_select_box">
                <ul class="menu-nav menu-nav-2">
                    <li class="menu-item menu-item-has-children">
                        <a href="#">{{ LANGUAGE_CODE }}</a>
                <ul class="sub-menu">
                        {% for lang in LANGUAGES %}
                            {% if LANGUAGE_CODE != lang.0 %}
                                {% if lang.0 == "az" %}
                                    {% if LANGUAGE_CODE == "az" %}
                                        {% if lang.0 == LANGUAGE_CODE %}
                                            <li class="menu-item">
                                                <a href="{{ request.get_full_path }}">
                                                    {{ lang.0 }}
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="menu-item">
                                                <a href="{{ request.get_full_path }}">
                                                    {{ lang.0 }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% else %}
                                        {% if lang.0 == LANGUAGE_CODE %}
                                            <li class="menu-item">
                                                <a href="{{ request.get_full_path|slice:"4:" }}">
                                                    {{ lang.0 }}
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="menu-item">
                                                <a href="/{{ request.get_full_path|slice:"4:" }}">
                                                    {{ lang.0 }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    {% if LANGUAGE_CODE == "az" %}
                                        {% if lang.0 == LANGUAGE_CODE %}
                                            <li class="menu-item">
                                                <a href="/{{ lang.0 }}{{ request.get_full_path }}">
                                                    {{ lang.0 }}
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="menu-item">
                                                <a href="/{{ lang.0 }}{{ request.get_full_path }}">
                                                    {{ lang.0 }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% else %}
                                        {% if lang.0 == LANGUAGE_CODE %}
                                            <li class="menu-item">
                                                <a href="/{{ lang.0 }}/{{ request.get_full_path|slice:"4:" }}">
                                                    {{ lang.0 }}
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="menu-item">
                                                <a href="/{{ lang.0 }}/{{ request.get_full_path|slice:"4:" }}">
                                                    {{ lang.0 }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                </ul>
            </li>
        </ul>
              </div>
            <div class="nav-button-holder">
                <button type="button" class="nav-button"><span class="icon-bar"></span></button>
            </div>
        </div>
    </div>
</header>
<!-- /HEADER -->


<!-- <div class="lang_select_box">
    <ul class="menu-nav menu-nav-2">
        <li class="menu-item menu-item-has-children">
            <a href="#">{{ LANGUAGE_CODE }}</a>
    <ul class="sub-menu">
            {% for lang in LANGUAGES %}
                {% if LANGUAGE_CODE != lang.0 %}
                    {% if lang.0 == "az" %}
                        {% if LANGUAGE_CODE == "az" %}
                            {% if lang.0 == LANGUAGE_CODE %}
                                <li class="menu-item">
                                    <a href="{{ request.get_full_path }}">
                                        {{ lang.0 }}
                                    </a>
                                </li>
                            {% else %}
                                <li class="menu-item">
                                    <a href="{{ request.get_full_path }}">
                                        {{ lang.0 }}
                                    </a>
                                </li>
                            {% endif %}
                        {% else %}
                            {% if lang.0 == LANGUAGE_CODE %}
                                <li class="menu-item">
                                    <a href="{{ request.get_full_path|slice:"4:" }}">
                                        {{ lang.0 }}
                                    </a>
                                </li>
                            {% else %}
                                <li class="menu-item">
                                    <a href="/{{ request.get_full_path|slice:"4:" }}">
                                        {{ lang.0 }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if LANGUAGE_CODE == "az" %}
                            {% if lang.0 == LANGUAGE_CODE %}
                                <li class="menu-item">
                                    <a href="/{{ lang.0 }}{{ request.get_full_path }}">
                                        {{ lang.0 }}
                                    </a>
                                </li>
                            {% else %}
                                <li class="menu-item">
                                    <a href="/{{ lang.0 }}{{ request.get_full_path }}">
                                        {{ lang.0 }}
                                    </a>
                                </li>
                            {% endif %}
                        {% else %}
                            {% if lang.0 == LANGUAGE_CODE %}
                                <li class="menu-item">
                                    <a href="/{{ lang.0 }}/{{ request.get_full_path|slice:"4:" }}">
                                        {{ lang.0 }}
                                    </a>
                                </li>
                            {% else %}
                                <li class="menu-item">
                                    <a href="/{{ lang.0 }}/{{ request.get_full_path|slice:"4:" }}">
                                        {{ lang.0 }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}

    </ul>
</li>
</ul>
  </div> -->
