{% load static %}
<script src="{% static 'assets/js/jquery.js' %}"></script>
<script src="{% static 'assets/js/jquery-migrate.min.js' %}"></script>
<script src="{% static 'assets/css/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'assets/css/bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'assets/js/easing.js' %}"></script>
<script src="{% static 'assets/js/fitvids.js' %}"></script>
<script src="{% static 'assets/js/owl-carousel/owl.carousel.js' %}"></script>
<script src="{% static 'assets/js/isotope.js' %}"></script>
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<!-- MAIN JS -->
<script src="{% static 'assets/js/init.js' %}"></script>
<!-- CONTAT FORM JS -->
<script src="{% static 'assets/js/jquery.form.min.js' %}"></script>
<script src="{% static 'assets/js/contactform.js' %}"></script>