{% extends 'base.html' %}
{% block body %}
    {% load i18n %}

    <!-- PAGE CONTENT -->
    <div class="page-holder custom-page-template page-full fullscreen-page clearfix">
        <!-- SECTION 1-->
        <section class="section-holder">
            <div class="about_title">
                <h2>{{ about.title }}</h2>
            </div>
            <div class="container">
                <div class="row">

                    <div class="col-lg-7">
                        <p>{{ about.description|safe }}</p>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </section>

    </div>


{% endblock %}
